<div class="table-actions">
  <div class="action-row">

    <label>הצגת שורות : </label>
    <div class="action-control">
      <mat-button-toggle-group #showZeroGroup="matButtonToggleGroup"
        (change)="changeZeroPricesGroup(showZeroGroup.value)">
        <mat-button-toggle value="true" checked="true">{{ showZeroTitleON }}</mat-button-toggle>
        <mat-button-toggle value="false">{{ showZeroTitleOFF }}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="separator"></div>

    <label>סידור לפי : </label>
    <div class="action-control">
      <mat-form-field subscriptSizing="dynamic" class="form-select">
        <mat-select [(value)]="selectedSortingColumn" >
          <mat-option *ngFor="let column of displayedColumnKeys" [value]="column">{{ displayedColumnTitles[column] }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="separator"></div>

    <label>סדר : </label>
    <div class="action-control">
      <mat-button-toggle-group #sortingOrderGroup="matButtonToggleGroup"
        (change)="changeSortingOrderGroup(sortingOrderGroup.value)">
        <mat-button-toggle value="ASC" checked="true">{{ sortingOrderTitleASC }}</mat-button-toggle>
        <mat-button-toggle value="DESC">{{ sortingOrderTitleDESC}} </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="separator"></div>

    <label>הגדל מחירים בסכום :</label>
    <div class="action-control">
      <mat-form-field subscriptSizing="dynamic" class="form-input">
        <input matInput type="number" [(ngModel)]="priceIncAmount">
      </mat-form-field>
      ש"ח
    </div>

    <div class="separator"></div>

    <label>הגדל מחירים באחוז :</label>
    <div class="action-control">
      <mat-form-field subscriptSizing="dynamic" class="form-input">
        <input matInput type="number" [(ngModel)]="priceIncPercent">
      </mat-form-field>
      %
    </div>

  </div>

  <div class="apply-button-container">
    <button class="apply-button" (click)="onApply()">החל שינויים</button>
  </div>
</div>